@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
}

.slideIn {
  animation: slideIn 0.3s;
}
@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
